# DECISION TREE CLASSIFICATION

## Classification of data based on Decision tree using gini index and entropy using Python and scikit learn

#### USING SCIKIT LEARN

#### Importing Libraries and dataset

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\harsh\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)
C:\Users\harsh\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
sal = pd.read_csv('salaries.csv')

In [3]:
sal

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

#### Dividing input and output set

In [4]:
inputs = sal.iloc[:, :-1]
targets = sal['salary_more_then_100k']

In [5]:
inputs

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

In [6]:
targets

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [7]:
print(inputs.shape)
print(targets.shape)

(16, 3)
(16,)

### Label Encoding

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
sal_company = LabelEncoder()
sal_job = LabelEncoder()
sal_degree = LabelEncoder()

In [ ]:
inputs['le_company'] = sal_company.fit_transform(inputs.company)
inputs['le_job'] = sal_job.fit_transform(inputs.job)
inputs['le_degree'] = sal_degree.fit_transform(inputs.degree)

In [ ]:
inputs

In [ ]:
inputs.drop(['company', 'job', 'degree'], axis=1, inplace=True)

In [ ]:
inputs

### Train Test Split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train_x, test_x, train_y, test_y = train_test_split(inputs, targets, test_size=0.2, random_state=42)

In [ ]:
print(train_x.shape)
print(test_x.shape)
print(train_y.shape)
print(test_y.shape)

## Decision Tree Classification using gini

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
dt_gini = DecisionTreeClassifier(criterion='gini', random_state=42)

In [ ]:
dt_gini.fit(train_x, train_y)

In [ ]:
test_pred = dt_gini.predict(test_x)

In [ ]:
test_pred

In [ ]:
test_y

### calculation of mse and r2_score

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
mean_squared_error(test_y, test_pred)

In [ ]:
r2_score(test_y, test_pred)

In [ ]:
dt_gini.score(test_x, test_y)

## Decision Tree using entropy

In [ ]:
dt_entropy = DecisionTreeClassifier(criterion='entropy', random_state=42)

In [ ]:
dt_entropy.fit(train_x, train_y)

In [ ]:
test_preds = dt_entropy.predict(test_x)

In [ ]:
test_preds

In [ ]:
mean_squared_error(test_y, test_preds)

In [ ]:
r2_score(test_y, test_preds)

In [ ]:
dt_entropy.score(test_x, test_y)

In [ ]:
dt_entropy.decision_path(train_x)

In [ ]:
dt_entropy.get_depth()

In [ ]:
dt_entropy.get_n_leaves()

In [ ]:
dt_entropy.get_params()