In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\harsh\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)
C:\Users\harsh\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
dataset = pd.read_csv('Melbourne_housing_FULL.csv')

In [3]:
dataset

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [5]:
dataset.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [6]:
dataset.drop(['Address', 'YearBuilt', 'Date', 'Postcode', 'Lattitude', 'Longtitude'], axis=1, inplace=True)

In [7]:
dataset.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
0,Abbotsford,2,h,NaN,SS,Jellis,2.5,2.0,1.0,1.0,126.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
1,Abbotsford,2,h,1480000.0,S,Biggin,2.5,2.0,1.0,1.0,202.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1035000.0,S,Biggin,2.5,2.0,1.0,0.0,156.0,79.0,Yarra City Council,Northern Metropolitan,4019.0
3,Abbotsford,3,u,NaN,VB,Rounds,2.5,3.0,2.0,1.0,0.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1465000.0,SP,Biggin,2.5,3.0,2.0,0.0,134.0,150.0,Yarra City Council,Northern Metropolitan,4019.0

In [8]:
dataset.shape

(34857, 15)

In [9]:
dataset.isna().sum()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        3
dtype: int64

In [10]:
to_fill_zeros = ['Bedroom2', 'Bathroom', 'Car', 'Distance', 'Propertycount']
dataset[to_fill_zeros] = dataset[to_fill_zeros].fillna(0)

In [11]:
dataset.isna().sum()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             0
Bedroom2             0
Bathroom             0
Car                  0
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        0
dtype: int64

In [12]:
dataset['Landsize'] = dataset['Landsize'].fillna(dataset.Landsize.mean())
# dataset['BuildingArea'] = dataset['BuildingArea'].fillna(dataset.BuildingArea.mean())

In [13]:
dataset.isna().sum()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             0
Bedroom2             0
Bathroom             0
Car                  0
Landsize             0
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        0
dtype: int64

In [14]:
dataset.dropna(inplace=True)

In [15]:
dataset.shape

(10656, 15)

In [16]:
dataset.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
2,Abbotsford,2,h,1035000.0,S,Biggin,2.5,2.0,1.0,0.0,156.0,79.0,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1465000.0,SP,Biggin,2.5,3.0,2.0,0.0,134.0,150.0,Yarra City Council,Northern Metropolitan,4019.0
6,Abbotsford,4,h,1600000.0,VB,Nelson,2.5,3.0,1.0,2.0,120.0,142.0,Yarra City Council,Northern Metropolitan,4019.0
11,Abbotsford,3,h,1876000.0,S,Nelson,2.5,4.0,2.0,0.0,245.0,210.0,Yarra City Council,Northern Metropolitan,4019.0
14,Abbotsford,2,h,1636000.0,S,Nelson,2.5,2.0,1.0,2.0,256.0,107.0,Yarra City Council,Northern Metropolitan,4019.0

In [17]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10656 entries, 2 to 34856
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         10656 non-null  object
 1   Rooms          10656 non-null  int64
 2   Type           10656 non-null  object
 3   Price          10656 non-null  float64
 4   Method         10656 non-null  object
 5   SellerG        10656 non-null  object
 6   Distance       10656 non-null  float64
 7   Bedroom2       10656 non-null  float64
 8   Bathroom       10656 non-null  float64
 9   Car            10656 non-null  float64
 10  Landsize       10656 non-null  float64
 11  BuildingArea   10656 non-null  float64
 12  CouncilArea    10656 non-null  object
 13  Regionname     10656 non-null  object
 14  Propertycount  10656 non-null  float64
dtypes: float64(8), int64(1), object(6)
memory usage: 1.3+ MB

In [18]:
dataset = pd.get_dummies(dataset, drop_first=True)

In [19]:
dataset.head()

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
2,2,1035000.0,2.5,2.0,1.0,0.0,156.0,79.0,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
4,3,1465000.0,2.5,3.0,2.0,0.0,134.0,150.0,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
6,4,1600000.0,2.5,3.0,1.0,2.0,120.0,142.0,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
11,3,1876000.0,2.5,4.0,2.0,0.0,245.0,210.0,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
14,2,1636000.0,2.5,2.0,1.0,2.0,256.0,107.0,4019.0,0,...,0,1,0,0,1,0,0,0,0,0

In [20]:
X = dataset.drop('Price', axis=1)
y = dataset['Price']

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
train_x, test_x, train_y, test_y = train_test_split(X, y, test_size=0.25, random_state=42)

In [23]:
print(train_x.shape)
print(test_x.shape)
print(train_y.shape)
print(test_y.shape)

(7992, 643)
(2664, 643)
(7992,)
(2664,)

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
model = LinearRegression()

In [26]:
model.fit(train_x, train_y)

LinearRegression()

In [27]:
y_predict = model.predict(test_x)

In [28]:
from sklearn.metrics import r2_score, mean_squared_error

In [29]:
r2_score(y_predict, test_y)

-0.002330630737678918

In [30]:
model.score(train_x, train_y)

0.7265442437271217

In [31]:
model.score(test_x, test_y)

-1706535730277.8882

In [32]:
from sklearn.linear_model import Lasso

In [45]:
lasso = Lasso(alpha=50, max_iter=100)

In [46]:
lasso.fit(train_x, train_y)

C:\Users\harsh\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:646: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.350e+14, tolerance: 3.716e+11
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive

Lasso(alpha=50, max_iter=100)

In [47]:
l_pred = lasso.predict(test_x)

In [48]:
lasso.score(train_x, train_y), lasso.score(test_x, test_y)

(0.7229895177073001, 0.352438672461155)

In [49]:
r2_score(test_y, l_pred)

0.352438672461155

In [38]:
from sklearn.linear_model import Ridge

In [39]:
ridge = Ridge(alpha=50, max_iter=100, tol=0.1)

In [40]:
ridge.fit(train_x, train_y)

Ridge(alpha=50, max_iter=100, tol=0.1)

In [41]:
r_pred = ridge.predict(test_x)

In [42]:
ridge.score(train_x, train_y), ridge.score(test_x, test_y)

(0.6891104606001575, 0.26656808138672927)

In [43]:
r2_score(test_y, r_pred)

0.26656808138672927